<div class="container mt-5">
  <div>{{title}}</div>
  <div (click)="onImageClick()">
    <img [src]="imageConverURL">
  </div>
</div>

<div class="container mt-5">
  @if(major != "") {
  <div>Major: {{major}}</div>
  }
</div>

<div class="container mt-5">
  @for (item of items; track $index) {
  <div>{{$index}} &nbsp; {{item.name}} &nbsp; {{item.url}}</div>
  }
</div>


<div class="container mt-5">
  @switch (skill) {
  @case ("Basic") {
  <div>Skill Basic</div>
  }
  @case ("Intermediate") {
  <div>Skill Intermediate</div>
  }
  @case ("Advanced") {
  <div>Skill Advanced</div>
  }
  @default {
  <div>Skill Unknown</div>
  }
  }
</div>

<div class="container mt-5">
  <div>{{now}}</div>
  <div>{{now | date}}</div>
  <div>{{now | date : 'shortDate'}}</div>
</div>

<div class="container mt-5">
  <div>{{number}}</div>
  <div>{{number | number }}</div>
  <div>{{number | number : '1.2-2'}}</div>
</div>

<div class="container mt-5">
  @for (item of product; track $index) {
  <div>_________________________</div>
  <div> {{item.name}} | {{item.size}} | {{item.price | number}} | {{item.releaseDate | date :'shortDate'}}</div>
  <div>ชื่อสินค้า : {{item.name}}</div>
  <div>ขนาด : {{item.size}}</div>
  <div>ราคา : {{item.price | number}}</div>
  <div>วันที่เปิดตัว : {{item.releaseDate | date :'shortDate'}}</div>

  }
</div>

<div class="container mt-5">
  <label for="name">Name</label>
  <input type="text" id="name" [formControl]="name">
  <p>Name : {{name.value}}</p>
</div>


<div class="container mt-5">
  <form [formGroup]="profileForm" (ngSubmit)="profileFormSubmit()">
    <label for="first-name">First Name : </label>
    <input id="first-name" type="text" formControlName="firstName">

    <label for="last-name">Last Name : </label>
    <input id="last-name" type="text" formControlName="lastName">

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
  <p> First name : {{profileForm.controls.firstName.value}}</p>
  <p> Last name : {{profileForm.controls.lastName.value}}</p>
</div>



<div class="container mt-5">
  <button routerLink="/" type="button" class="btn btn-secondary">Home</button>
  <button routerLink="/page1" type="button" class="btn btn-primary m-1">Page 1</button>
  <button routerLink="/page2" type="button" class="btn btn-success m-1">Page 2</button>
  <button routerLink="/page3" type="button" class="btn btn-danger m-1">Page 3</button>
</div>


<router-outlet />